# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- script : git show-ref 
- script: git push https://MartinBialkowski:$(GithubKey)@github.com/MartinBialkowski/AutoSFaP.git head:refs/remotes/origin/master
  
  displayName: 'Push to github'
