name: $(TeamProject)_$(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

trigger:
- master
- develop
- feature/*

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  buildConfiguration: 'Release'
  allProjects: '**/*.csproj'

steps:
- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: 'restore'
    projects: $(allProjects)

- task: DotNetCoreCLI@2
  displayName: Build
  inputs:
    projects: $(allProjects)
    arguments: '-c $(buildConfiguration)'

- task: VSTest@2
  displayName: Test
  inputs:
    testSelector: 'testAssemblies'
    testAssemblyVer2: '**/*[Tt]ests/*.csproj'
    codeCoverageEnabled: true